@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
  background: linear-gradient(to right, #85152E, #08304E);
  ;
}

p {
  font-size: 20px;
}

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s ease-out;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #333;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: var(--gradient);
  padding: 3rem 7%;
}

section {
  padding: 2rem 7%;
}

.container {
  color: #08304E;
  background: #ffffff;
  border-radius: .5rem;
 
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.heading {
  color: transparent;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  padding: 0 1rem;
  padding-top: 2.5rem;
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 3rem;
  border-radius: .5rem;
  background: #333;
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: var(--gradient);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 7%;
  border-bottom: .1rem solid rgba(0, 0, 0, .1);
  position: relative;
  z-index: 1000;
}



.teacher {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.teacher .box {
  flex: 1 1 23rem;
  border: .1rem solid rgba(0, 0, 0, .1);
  border-radius: .5rem;
  padding: 1.5rem;
  text-align: center;
}

.teacher .box img {
  height: 10rem;
  width: 10rem;
  margin: .5rem 0;
  border-radius: 50%;
  object-fit: cover;
}

.teacher .box h3 {
  color: var(--violet);
  font-size: 2.5rem;
}

.teacher .box span {
  color: var(--pink);
  font-size: 2rem;
}

.teacher .box p {
  color: #666;
  font-size: 1.5rem;
  padding: 1rem 0;
}

/* .teacher .box .share a {
  height: 20px; /* Updated to match font-size *
  width: 20px;  /* Updated to match font-size *
  line-height: 5px;
  padding: 5px;
  font-size: 20px;
  background: gray;
  border-radius: 5px;
  margin: 0.3rem;
  color: #fff;
} */

.teacher .box .share a {
  height: 20px;
  width: 20px;
  line-height: 5px;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  margin: 0.3rem;
  color: rgb(14, 3, 3);
}

.teacher .box .share a:hover {
  color: #85152E;
}




.logo img {
  width: 120px;
  cursor: pointer;
  transition: all 1s;
}

.footer .box-container .box p i {
  padding-right: .5rem;
  color: var(--pink);
}

/*FOOTER*/
footer {
  color: #E5E8EF;
  background: linear-gradient(to right, #85152E, #08304E);
  padding: 50px 0;
}

footer .footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

footer .social-media img {
  width: 22px;
}

footer .logo {
  width: 180px;
  color: #fff;
}

footer .social-media a {
  margin-right: 10px;
  font-size: 22px;
  text-decoration: none;
}

footer .right-col h1 {
  font-size: 26px;
}

footer .border {
  width: 100px;
  height: 4px;
  background: linear-gradient(to right, #740e02, #bc074f);
  margin: 2px;
}

footer .newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer input::placeholder {
  color: white !important;
}

footer .txtb {
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  background: #343A40;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 5px;
  min-width: 260px;
  margin-top: 20px;
  color: white;
}

footer .btn {
  margin-top: 20px;
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: linear-gradient(to right, #FA4B37, #DF2771);
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity .3s linear;
}

footer .btn:hover {
  opacity: .7;
}


/* media queries  */

@media (max-width:991px) {

  html {
    font-size: 55%;
  }

  body {
    padding: 1.5rem;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }

}

@media (max-width:768px) {

  #menu {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: .1rem solid rgba(0, 0, 0, .2);
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a {
    font-size: 2.5rem;
    display: block;
    margin: 2rem 0;
    text-align: center;
  }

  .contact form .inputBox input {
    width: 100%;
  }

}

@media (max-width:400px) {

  html {
    font-size: 50%;
  }

}

/*PROPERTIES FOR MAKING footer RESPONSIVE*/
@media screen and (max-width: 960px) {
  .footer-container {
    max-width: 600px;
  }

  .right-col {
    width: 100%;
    margin-bottom: 60px;
  }

  .left-col {
    width: 100%;
    text-align: center;
  }

  .social-media {
    display: flex;
    justify-content: center;
  }

  .logo {
    transition: 1s;
    margin-left: 30%;
  }

  .quote p,
  .quote h5,
  .play {
    justify-content: center;
    text-align: center;
  }

  .quote p {
    font-size: 30px;
  }


}

@media screen and (max-width: 700px) {
  footer .btn {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }

}

@media screen and (max-width: 1000px) {

  .feedbox form input,
  .feedbox form .fname {
    width: 100%;
  }
}.form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 350px;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	position: relative;
  }
  
  .message {
	color: rgba(88, 87, 87, 0.822);
	font-size: 14px;
  }
  
  .flex {
	display: flex;
	width: 100%;
	gap: 6px;
  }
  
  .form label {
	position: relative;
  }
  
  .form label .input {
	width: 100%;
	padding: 10px 10px 20px 10px;
	outline: 0;
	border: 1px solid rgba(105, 105, 105, 0.397);
	border-radius: 5px;
  }
  
  .form label .input + span {
	position: absolute;
	left: 10px;
	top: 15px;
	color: grey;
	font-size: 0.9em;
	cursor: text;
	transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
	top: 15px;
	font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
	top: 30px;
	font-size: 0.7em;
	font-weight: 600;
  }
  
  .form label .input:valid + span {
	color: green;
  }
  
  .input01 {
	width: 100%;
	padding: 10px 10px 20px 10px;
	outline: 0;
	border: 1px solid rgba(105, 105, 105, 0.397);
	border-radius: 5px;
  }
  
  .form label .input01 + span {
	position: absolute;
	left: 10px;
	top: 50px;
	color: grey;
	font-size: 0.9em;
	cursor: text;
	transition: 0.3s ease;
  }
  
  .form label .input01:placeholder-shown + span {
	top: 40px;
	font-size: 0.9em;
  }
  
  .form label .input01:focus + span,.form label .input01:valid + span {
	top: 50px;
	font-size: 0.7em;
	font-weight: 600;
  }
  
  .form label .input01:valid + span {
	color: green;
  }
  
  .fancy {
	background-color: transparent;
	border: 2px solid #cacaca;
	border-radius: 0px;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: 390;
	letter-spacing: 2px;
	margin: 0;
	outline: none;
	overflow: visible;
	padding: 8px 30px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	transition: all 0.3s ease-in-out;
	user-select: none;
	font-size: 13px;
  }
  
  .fancy::before {
	content: " ";
	width: 1.7rem;
	height: 2px;
	background: #cacaca;
	top: 50%;
	left: 1.5em;
	position: absolute;
	transform: translateY(-50%);
	transform: translateX(230%);
	transform-origin: center;
	transition: background 0.3s linear, width 0.3s linear;
  }
  
  .fancy .text {
	font-size: 1.125em;
	line-height: 1.33333em;
	padding-left: 2em;
	display: block;
	text-align: left;
	transition: all 0.3s ease-in-out;
	text-transform: lowercase;
	text-decoration: none;
	color: #818181;
	transform: translateX(30%);
  }
  
  .fancy .top-key {
	height: 2px;
	width: 1.5625rem;
	top: -2px;
	left: 0.625rem;
	position: absolute;
	background: white;
	transition: width 0.5s ease-out, left 0.3s ease-out;
  }
  
  .fancy .bottom-key-1 {
	height: 2px;
	width: 1.5625rem;
	right: 1.875rem;
	bottom: -2px;
	position: absolute;
	background: white;
	transition: width 0.5s ease-out, right 0.3s ease-out;
  }
  
  .fancy .bottom-key-2 {
	height: 2px;
	width: 0.625rem;
	right: 0.625rem;
	bottom: -2px;
	position: absolute;
	background: white;
	transition: width 0.5s ease-out, right 0.3s ease-out;
  }
  
  .fancy:hover {
	color: white;
	background: #cacaca;
  }
  
  .fancy:hover::before {
	width: 1.5rem;
	background: white;
  }
  
  .fancy:hover .text {
	color: white;
	padding-left: 1.5em;
  }
  
  .fancy:hover .top-key {
	left: -2px;
	width: 0px;
  }
  
  .fancy:hover .bottom-key-1,
   .fancy:hover .bottom-key-2 {
	right: 0;
	width: 0;
  }
  .sample {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust spacing between items */
}

.sample ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%; /* Make sure ul takes full width */
}

.sample ul li {
    flex: 1 0 30%; /* Adjust to take roughly one-third width */
    margin: 10px; /* Reduce margin for better fit */
    padding: 20px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.sample ul li a {
    color: #770f03;
    font-size: 16px;
    text-decoration: none;
}

.sample ul li:hover {
    background-color: #eaeaea;
}
