/* General Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

/* Container Styling */
.module-container {
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Button Styling */
button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

button:hover {
  background-color: #0056b3;
}

/* Modal Styling */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Card Styling */
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

.card-body .text-primary {
  color: #007bff;
  margin-bottom: 15px;
}

.card-body h6 {
  margin-bottom: 10px;
}

.card-body p {
  margin-bottom: 5px;
}

.card-body a {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.card-body a:hover {
  text-decoration: underline;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .modal-content {
      width: 90%;
  }
}

@media (max-width: 600px) {
  .card-body {
      padding: 15px;
  }

  .module-container {
      padding: 15px;
  }

  button {
      width: 100%;
      padding: 15px;
      font-size: 18px;
  }
}

body{margin-top:20px;}
.bg-light-primary {
    background-color: #f9fbff!important;
}
.pb-6, .py-6 {
    padding-bottom: 3.75rem!important;
}
.pt-6, .py-6 {
    padding-top: 3.75rem!important;
}
.hover-scale, .hover-scale:hover {
    transition: transform .2s ease-in;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .4rem;
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}




.span{
  font-size: 20px;
}
.shadow {
    box-shadow: 0 0 3px rgb(53 64 78 / 20%) !important;
}
.rounded {
    border-radius: 5px !important;
}
.bg-light {
    background-color: #f7f8fa !important;
}


.badge {
    padding: 5px 8px;
    border-radius: 3px;
    letter-spacing: 0.5px;
    font-size: 12px;
}

.btn-primary, .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.focus, .btn-outline-primary:not(:disabled):not(.disabled):active {
    box-shadow: 0 3px 7px #2D58C4 !important;
}

.badge {
  background-color: #6dc77a;
}
.btn {
    padding: 8px 20px;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: all 0.3s;
    font-weight: 600;
    border-radius: 5px;
}
.btn-primary {
    background-color: #2D58C4 !important;
    border: 1px solid #2D58C4 !important;
    color: #fff !important;
    box-shadow: 0 3px 7px #2D58C4;
}

a {
text-decoration:none;    
}


a {
    text-decoration: none;
    text-transform: uppercase;
    color: #2D58C4;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    z-index: 1;
    padding: 5px;
    transform: translateX(-5px); /* Adjust position using transform */
}

  
  a:hover {
    color: #2D58C4;
  }
  
  a::before {
    content: '';
    z-index: -1;
   position: absolute;
   top: calc(50%);
   left: 0;
   width: 100%;
   height: 40%;
   pointer-events: none;
   background: #B7CCFF;
   transform: scale3d(0,1,1);
   transform-origin: 0% 50%;
   transition: transform 0.33s;
  }
  
  a:hover::before {
    transform: scale3d(1,1,1);
   transform-origin: 0% 50%;
  }
 

/*FOOTER*/
footer {
  color: #E5E8EF;
  background: linear-gradient(to right, #85152E, #08304E);
  padding: 50px 0;
  width: 100%;
}

footer .footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

footer .social-media img {
  width: 22px;
}

footer .logo {
  width: 180px;
  color: #fff;
}

footer .social-media a {
  margin-right: 10px;
  font-size: 22px;
  text-decoration: none;
}

footer .right-col h1 {
  font-size: 26px;
}

footer .border {
  width: 100px;
  height: 4px;
  background: linear-gradient(to right, #740e02, #bc074f);
  margin: 2px;
}

footer .newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer input::placeholder {
  color: white !important;
}

footer .txtb {
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  background: #343A40;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 5px;
  min-width: 260px;
  margin-top: 20px;
  color: white;
}

footer .btn {
  margin-top: 20px;
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: linear-gradient(to right, #FA4B37, #DF2771);
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity .3s linear;
}

footer .btn:hover {
  opacity: .7;
}

